@import url(https://fonts.bunny.net/css?family=barlow:200|barlow-condensed:200,700|bellefair:400);

html {
	--color-white: #fff;
	--color-very-light-grey: #d0d6f9;
	--color-dark-blue: #0b0d17;

	--bg-home: url(../img/home/background-home-mobile.jpg);
	--bg-destination: url(../img/destination/background-destination-mobile.jpg);
	--bg-crew: url(../img/crew/background-crew-mobile.jpg);
	--bg-technology: url(../img/technology/background-technology-mobile.jpg);
}

/* COMMON SELECTORS */
body {
	background-color: var(--color-dark-blue);
}

#wrapper {
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	width: 100vw;
	padding: 24px 24px 0 24px;
	position: absolute;
	top: auto;
	left: 0;
	overflow-x: hidden;
	text-align: center;
}

main {
	min-height: calc(100vh - 64px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header>img {
	width: 40px;
	height: 40px;
}

nav>img {
	width: 24px;
	height: 21px;
}

#nav-menu {
	position: absolute;
	z-index: 99;
	top: 0;
	right: -254px;
	width: 254px;
	height: 100vh;
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
	transition: right 1s;
}

div#nav-menu.on {
	right: 0px;
	transition: right 1s;
}

#nav-menu>img {
	width: 19.09px;
	height: 19.09px;
	position: absolute;
	top: 33.95px;
	right: 24px;
}

#nav-links {
	margin: 112px 0 0 32px;
	height: 184px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#nav-links>a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	height: 31px;
}

#nav-links>a.current {
	border-right: 4px solid var(--color-white);
}

#nav-links>a:hover {
	border-right: 4px solid var(--color-very-light-grey);
}

#nav-links>a>span.number {
	color: var(--color-white);
	font-family: "Barlow Condensed", sans-serif;
	font-size: 16px;
	letter-spacing: 2.7px;
	text-transform: uppercase;
	font-weight: 700;
	width: 29px;
	height: 19px;
}

/* TEXT FORMATING */

h1 {
	color: var(--color-white);
	font-family: "Bellefair", serif;
	font-size: 80px;
	line-height: 100px;
	text-transform: uppercase;
}

h3 {
	color: var(--color-white);
	font-family: "Bellefair", serif;
	font-size: 56px;
	text-transform: uppercase;
}

h4 {
	font-size: 24px;
	color: var(--color-white);
	font-family: "Bellefair", serif;
	text-transform: uppercase;
}

h5 {
	color: var(--color-very-light-grey);
	font-family: "Barlow Condensed", sans-serif;
	font-size: 16px;
	letter-spacing: 2.7px;
	text-transform: uppercase;
	height: 19px;
}

.subheading1 {
	color: var(--color-very-light-grey);
	font-family: "Barlow Condensed", sans-serif;
	font-size: 14px;
	letter-spacing: 2.36px;
	text-transform: uppercase;
}

.subheading2 {
	color: var(--color-white);
	font-family: "Bellefair", serif;
	font-size: 28px;
	text-transform: uppercase;
}

p {
	color: var(--color-very-light-grey);
	font-family: "Barlow", sans-serif;
	font-size: 15px;
	line-height: 25px;
}

/* HOME SPECIFIC */

#wrapper.home {
	background-image: var(--bg-home);
}

.home main {
	padding: calc(48px + (100vh - 667px) / 4) 0;
}

.home #introduction {
	height: calc(276px + (100vh - 667px) / 4);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.home h1 {
	height: 100px;
}

.home p {
	height: 125px;
	max-width: 450px;
}

.explore {
	position: relative;
	z-index: 1;
	height: 150px;
	width: 150px;
	border-radius: 75px;
	background-color: var(--color-white);
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.explore::after {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	background-color: var(--color-very-light-grey);
	transition: transform 0.5s ease-in, opacity 0.7s ease-in;
}

.explore:hover::after,
.explore:focus::after {
	opacity: 0.3;
	transform: scale(1.4);
}

.explore span {
	color: var(--color-dark-blue);
	font-family: "Bellefair", serif;
	font-size: 20px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	height: 23px;
	margin-top: 9px;
}

/* DETAILS PAGES SPECIFIC */

.details main {
	padding: calc(24px + (100vh - 667px) / 4) 0 calc(48px + (100vh - 667px) / 4) 0;
}

.details p {
	min-height: 125px;
	max-width: 573px;
	display: flex;
	align-items: center;
}

.details .heading {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 19px;
	margin-bottom: 32px;
}

.details span.number {
	color: var(--color-white);
	opacity: 25%;
	font-family: "Barlow Condensed", sans-serif;
	font-size: 16px;
	letter-spacing: 2.7px;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 18px;
}

.details .heading h5 {
	color: var(--color-white);
}

/* DESTINATION SPECIFIC */

#wrapper.destination {
	background-image: var(--bg-destination);
}

.destination main img {
	height: 170px;
	width: 170px;
}

.destination .image {
	margin-bottom: 23px;
}

.destination .nav-destination {
	height: 28px;
	width: 237.5px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.destination .nav-destination .subheading1 {
	height: 28px;
}

.destination .nav-destination .subheading1.active {
	color: var(--color-white);
	border-bottom: 3px solid var(--color-white);
}

.destination .content {
	max-width: 573px;
}

.destination .content>h3 {
	height: 64px;
	margin-bottom: 1px;
}

.destination .content>p {
	margin-bottom: 32px;
}

.destination .separator {
	height: 1px;
	width: 327px;
	background-color: var(--color-very-light-grey);
	opacity: 0.27;
	margin-bottom: 32px;
}

.destination .information {
	max-width: 573px;
	width: 100%;
}

.destination .topic .subheading1 {
	height: 17px;
	margin-bottom: 12px;
}

.destination .subheading2 {
	height: 32px;
	margin-bottom: 32px;
}

.destination .topic:last-of-type .subheading2 {
	margin-bottom: 0;
}

/* CREW SPECIFIC */

#wrapper.crew {
	background-image: linear-gradient(0deg, rgba(36, 38, 47, 0.5) 0%, rgba(11, 13, 23, 0.5) 100%), var(--bg-crew);
}

.crew main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.crew main img {
	height: 222px;
}

.crew .image {
	width: 327px;
	height: 223px;
	margin-bottom: 32px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.crew .nav-crew {
	width: 88px;
	height: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 32px;
}

.crew .nav-crew div.circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--color-white);
	opacity: 0.175;
}

.crew .nav-crew div.circle.active {
	opacity: 1;
}

.crew .subheading2 {
	opacity: 0.495;
	height: 18px;
	font-size: 16px;
	margin-bottom: 8px;
}

.crew .content h4 {
	color: var(--color-white);
	height: 28px;
	font-family: "Bellefair", serif;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 16px;
}

/* TECHNOLOGY SPECIFIC */

#wrapper.technology {
	background-image: var(--bg-technology);
}

.technology main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.technology main .image {
	height: 170px;
	width: 100vw;
	margin: 0 -25px 44px -25px;
}

.technology main img {
	height: 100%;
}

.technology .nav-technology {
	width: 150px;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 26px;
}

.technology .nav-technology div.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: var(--color-white);
	border: 1px solid rgba(255, 255, 255, 0.25);
	font-family: "Bellefair", serif;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.technology .nav-technology div.circle.active {
	background-color: var(--color-white);
	color: var(--color-dark-blue);
}

.technology .subheading1 {
	height: 17px;
	margin-bottom: 9px;
}

.technology .content h4 {
	height: 28px;
	margin-bottom: 16px;
}

@media (min-width: 768px) {
	html {
		--bg-home: url(../img/home/background-home-tablet.jpg);
		--bg-destination: url(../img/destination/background-destination-tablet.jpg);
		--bg-crew: url(../img/crew/background-crew-tablet.jpg);
		--bg-technology: url(../img/technology/background-technology-tablet.jpg);
	}

	#wrapper {
		padding: 0;
		position: relative;
	}

	main {
		min-height: calc(100vh - 96px);
	}

	header {
		height: 96px;
		margin-left: 39px;
	}

	header>img {
		width: 48px;
		height: 48px;
	}

	nav>img {
		display: none;
	}

	#nav-menu {
		position: relative;
		height: 96px;
		width: 450px;
		right: 0;
		-webkit-backdrop-filter: blur(30px);
		backdrop-filter: blur(30px);
	}

	#nav-menu>img {
		display: none;
	}

	#nav-links {
		margin: 0 46px 0 48px;
		height: 96px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}

	#nav-links>a {
		align-items: flex-start;
		justify-content: center;
		height: 57px;
	}

	#nav-links>a:hover {
		border-right: 0;
		border-bottom: 4px solid rgba(255, 255, 255, 0.25);
	}

	#nav-links>a.current {
		border-right: 0;
		border-bottom: 4px solid var(--color-white);
	}

	#nav-links>a>span.number {
		display: none;
	}

	#nav-links>a>h5 {
		font-size: 14px;
		letter-spacing: 2.36px;
		color: var(--color-white);
	}

	/* TEXT FORMATING */

	h1 {
		font-size: 150px;
		line-height: 150px;
	}

	h3 {
		font-size: 80px;
	}

	h4 {
		font-size: 40px;
	}

	h5 {
		font-size: 20px;
		letter-spacing: 3.38px;
	}

	.subheading1 {
		font-size: 16px;
		letter-spacing: 2.7px;
	}

	p {
		font-size: 16px;
		line-height: 28px;
	}

	/* HOME SPECIFIC */

	#wrapper.home {
		background-image: var(--bg-home);
	}

	.home main {
		padding: calc(106px + (100vh - 1024px) / 4) 0 calc(90px + (100vh - 1024px) / 4) 0;
	}

	.home #introduction {
		height: calc(334px + (100vh - 1024px) / 4);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.home h5 {
		height: 24px;
		margin-bottom: 24px;
	}

	.home h1 {
		height: 150px;
		margin-bottom: 24px;
	}

	.home p {
		height: 112px;
		width: 438px;
	}

	.explore {
		height: 242px;
		width: 242px;
		border-radius: 50%;
	}

	.explore span {
		font-size: 32px;
		letter-spacing: 2px;
		height: 37px;
		margin-top: 12px;
	}

	/* DETAILS PAGES SPECIFIC */

	.details main {
		padding: calc(40px + (100vh - 1024px) / 4) 0 0 0;
	}

	.details p {
		min-height: 84px;
		max-width: 458px;
		display: flex;
		align-items: center;
	}

	.details .heading {
		justify-content: flex-start;
		align-self: flex-start;
		height: 24px;
		margin-left: 38.5px;
		margin-bottom: 60px;
	}

	.details span.number {
		font-size: 20px;
		letter-spacing: 3.35px;
		margin-right: 19px;
	}

	/* DESTINATION SPECIFIC */

	.destination main img {
		height: 300px;
		width: 300px;
	}

	.destination .image {
		margin-bottom: 50px;
	}

	.destination .nav-destination {
		height: 34px;
		width: 285.5px;
		margin-bottom: 32px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.destination .nav-destination .subheading1 {
		height: 34px;
	}

	.destination .nav-destination .subheading1.active {
		color: var(--color-white);
		border-bottom: 3px solid var(--color-white);
	}

	.destination .content {
		width: 573px;
	}

	.destination .content>h3 {
		height: 92px;
		margin-bottom: 8px;
	}

	.destination .content>p {
		max-width: 100%;
		height: 84px;
		margin-bottom: 49px;
	}

	.destination .separator {
		width: 573px;
		margin-bottom: 28px;
	}

	.destination .information {
		height: 61px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: 62px;
	}

	.destination .subheading2 {
		margin-bottom: 0;
	}

	/* CREW SPECIFIC */

	#wrapper.crew {
		background-image: linear-gradient(0deg, rgba(36, 38, 47, 0.5) 0%, rgba(11, 13, 23, 0.5) 100%), var(--bg-crew);
	}

	.crew main {
		position: relative;
	}

	.crew main img {
		height: 532px;
	}

	.crew main img[alt="Douglas Hurley"] {
		height: 572px;
	}

	.crew .image {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 532px;
		margin-bottom: 0;
		border-bottom: 0;
		overflow: hidden;
	}

	.crew .nav-crew {
		margin-bottom: 0;
		order: 4;
	}

	.crew .content {
		margin-bottom: 40px;
	}

	.crew .subheading2 {
		height: 28px;
		font-size: 24px;
	}

	.crew .content h4 {
		height: 46px;
		font-size: 40px;
	}

	/* TECHNOLOGY SPECIFIC */

	.technology main .image {
		height: 310px;
		margin: 0 0 56px 0;
	}

	.technology .nav-technology {
		width: 210px;
		height: 60px;
		margin-bottom: 44px;
	}

	.technology .nav-technology div.circle {
		width: 60px;
		height: 60px;
		font-size: 24px;
	}

	.technology .subheading1 {
		height: 19px;
		margin-bottom: 16px;
	}

	.technology .content h4 {
		height: 46px;
	}
}