@media (min-width: 992px) {
    html {
		--bg-home: url(../img/home/background-home-desktop.jpg);
		--bg-destination: url(../img/destination/background-destination-desktop.jpg);
		--bg-crew: url(../img/crew/background-crew-desktop.jpg);
		--bg-technology: url(../img/technology/background-technology-desktop.jpg);
	}
}