@media (min-width: 992px) {
    html {
		--bg-home: url(../img/home/background-home-desktop.jpg);
		--bg-destination: url(../img/destination/background-destination-desktop.jpg);
		--bg-crew: url(../img/crew/background-crew-desktop.jpg);
		--bg-technology: url(../img/technology/background-technology-desktop.jpg);
	
        --coef-height: calc(100vh / 900);
        --coef-width: calc(100vw / 1440);
    }

    header {
		height: calc(96 * var(--coef-height));
		margin-left: calc(55 * var(--coef-width));
        margin-top: calc(40 * var(--coef-height));
	}
	
	header>img {
		width: calc(48 * var(--coef-height));
		height: calc(48 * var(--coef-height));
	}

    header>.segment {
        display: block;
        position: absolute;
        top: calc(88 * var(--coef-height));
        left: calc(167 * var(--coef-width));
        height: calc(1 * var(--coef-height));
        width: calc(473 * var(--coef-width));
        background-color: var(--color-white);
        opacity: 0.25;
        z-index: 100;
    }

    #nav-menu {
		height: calc(96 * var(--coef-height));
		width: calc(830 * var(--coef-width));
	}

    #nav-links {
		margin: 0 calc(165 * var(--coef-width)) 0 calc(123 * var(--coef-width));
		height: calc(96 * var(--coef-height));
	}

    #nav-links>a {
		height: calc(57 * var(--coef-height));
	}

    #nav-links>a:hover {
		border-bottom: calc(4 * var(--coef-height)) solid rgba(255, 255, 255, 0.25);
	}

    #nav-links>a.current {
		border-bottom: calc(4 * var(--coef-height)) solid var(--color-white);
	}

    #nav-links>a>span.number {
		display: flex;
        font-size: calc(16 * var(--coef-height));
        margin-right: calc(11 * var(--coef-width));
        width: calc(18 * var(--coef-width));
	}

    #nav-links>a>h5 {
		font-size: calc(16 * var(--coef-height));
		letter-spacing: calc(2.7 * var(--coef-height));
	}

    main {
		min-height: calc(100vh - calc(136 * var(--coef-height)));
	}

    /* TEXT FORMATING */

    h1 {
        font-size: calc(150 * var(--coef-height));
        line-height: auto;
    }

	/* h3 {
		font-size: 80px;
	}

	h4 {
		font-size: 40px;
	} */

	h5 {
		font-size: calc(28 * var(--coef-height));
		letter-spacing: calc(4.72 * var(--coef-height));
	}

	/* .subheading1 {
		font-size: 16px;
		letter-spacing: 2.7px;
	} */

	p {
		font-size: calc(18 * var(--coef-height));
		line-height: calc(32 * var(--coef-height));
	}

    /* HOME SPECIFIC */

	.home main {
		padding: 0 calc(165 * var(--coef-width)) calc(131 * var(--coef-height)) calc(165 * var(--coef-width));
        flex-direction: row;
        align-items: flex-end;
	}

	.home #introduction {
		height: calc(382 * var(--coef-height));
        width: calc(450 * var(--coef-width));
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        text-align: left;
	}

	.home #introduction h5 {
		height: calc(34 * var(--coef-height));
		margin-bottom: calc(24 * var(--coef-height));
        margin-left: calc(0.5 * var(--coef-width));
	}

	.home h1 {
		height: calc(172 * var(--coef-height));
		margin-bottom: calc(24 * var(--coef-height));
	}

	.home p {
		height: calc(128 * var(--coef-height));
		width: calc(444 * var(--coef-width));
        margin-left: calc(0.5 * var(--coef-width));
	}

	.explore {
		height: calc(274 * var(--coef-height));
		width: calc(274 * var(--coef-height));
        align-self: flex-end;
	}

	.explore span {
		font-size: calc(32 * var(--coef-height));
		letter-spacing: calc(2 * var(--coef-height));
		height: calc(37 * var(--coef-height));
		margin-top: calc(12 * var(--coef-height));
	}
}